In [1]:
#5! = 5  *4 * 3 * 2 * 1, n (n-1)

def factorial(n): #n = 5, n=
    if n == 0: 
        return 1
    else:  # 5 * 4 * factorila (3)
        return n * factorial(n-1)

In [3]:
def fibbonaci(n):
    if n <=1:
        return n
    else:
        return fibbonaci(n-1) + fibbonaci(n-2)

In [4]:
result = fibbonaci(6)
print(result)

8

In [5]:
def countdown(n):
    if n == 0:
        print("Start")
    else:
        print(n) #5, 4, 3
        countdown(n-1) #call by value, call by reference #c(4) C(2)

In [7]:
countdown(5)

5
4
3
2
1
Start

In [8]:
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)

In [6]:
import pandas as pd

path = 'C:\\Users\\abeeravolu\\Downloads\\A2\\CSV4.csv'

df = pd.read_csv(path)

In [12]:
text = df['TEXT']

In [22]:
sample = df['TEXT'].iloc[0]

In [24]:
sample.lower()

'admission date:  [**2150-4-17**]              discharge date:   [**2150-4-21**]\n\ndate of birth:  [**2090-5-19**]             sex:   m\n\nservice: medicine\n\nallergies:\npatient recorded as having no known allergies to drugs\n\nattending:[**first name3 (lf) 12174**]\nchief complaint:\ncoffee ground emesis\n\nmajor surgical or invasive procedure:\negd\nright ij cvl\n\n\nhistory of present illness:\nmr. [**known lastname 52368**] is a 59m w hepc cirrhosis c/b grade i/ii esophageal\nvarices and portal gastropathy (last egd [**3-/2150**]), who p/w\ncoffee-ground emesis and melena x2 days.\n.\npt was in his usoh until about 2-3 days pta, when he began\nexperiencing intermittent nausea. he had 2-3 episodes of\ncoffee-ground emesis and 1 episode of tarry black stool in the\nmorning of admission. he reports some lightheadedness which is\nnot new, but denies frank hematemesis, brbpr, abdominal pain,\nfever, chills, significant increases in his abdominal girth. he\ndenies drinking or medication non-compliance. he also reports\ntaking naproxen for back pain 2-3 times a day in the recent\npast.\n.\nin the ed, his vitals were 97.4, 93/41, 69, 18, 100% on ra. he\nwas given 4l ns iv, protonix 40mg iv, started on an octreotide\ndrip. he had guaiac positive brown stool on rectal exam. he was\nseen by the liver fellow in the ed who felt this was unlikely a\nvariceal bleed and recommended work up for infection. an ng tube\nwas attempted, however, patient was unable to tolerate it in the\ned. abdominal ultrasound was done which showed a patent portal\nvein, scant ascites but not enough to tap. bp dropped to 80/34,\npt transferred to micu for hemodynamic monitoring.\n.\nin the micu, pt was given 3 prbc, hct bumped from 21.3 to 28.\nstarted on norepinephrine gtt for a few hours, but bp\nstabilized. on transfer to the floor, remains hemodynamically\nstable. feels good, denies tarry or bloody bms, emesis.\n\npast medical history:\nhcv cirrhosis (tx with interferon x2 with no response)\nportal gastropathy\ngrade ii esophageal varices\nhtn\n\nsocial history:\nhe lives alone.  he is drinking alcohol, usually one session per\nweek. he has four to five drinks per session. he was told to\ncompletely abstain from alcohol, effective as of today. he\nsmokes about 20 cigarettes per day.\n\n\nfamily history:\nnc\n\nphysical exam:\non admission:\nvs: t95.9 hr 71 bp 83/36 rr 11  96% 2l nc\ngen: somnolent, oriented x 3, unable to assess for asterixis\ngiven somnolence\nheent: perrla, eomi\nneck: supple, jvp at angle of jaw (fluid bolus running wide\nopen)\ncv: rrr s1 s2 no appreciable murmur\nlungs: ctab\nabd: distended, non tender, no rebound or guarding, bowel sounds\npositive\next: 1+ pitting edema bilaterally\nskin: warm, diaphoretic, no rash or lesions noted\n\npertinent results:\nlabs on admission:\n[**2150-4-17**] 01:30pm blood wbc-17.9*# rbc-2.78* hgb-8.5* hct-26.0*\nmcv-94 mch-30.6 mchc-32.7 rdw-20.6* plt ct-186\n[**2150-4-17**] 01:30pm blood neuts-61.2 lymphs-28.8 monos-6.9 eos-2.2\nbaso-0.9\n[**2150-4-17**] 02:13pm blood pt-17.7* ptt-34.5 inr(pt)-1.6*\n[**2150-4-17**] 01:30pm blood glucose-92 urean-51* creat-1.3* na-131*\nk-5.7* cl-104 hco3-21* angap-12\n[**2150-4-17**] 01:30pm blood alt-126* ast-260* ld(ldh)-426*\nalkphos-157* totbili-3.3*\n[**2150-4-17**] 06:41pm blood calcium-7.5* phos-3.8 mg-1.9\n.\nlabs on discharge:\n[**2150-4-21**] 05:00am blood wbc-10.7 rbc-2.94* hgb-9.6* hct-27.0*\nmcv-92 mch-32.6* mchc-35.6* rdw-21.2* plt ct-110*\n[**2150-4-21**] 05:00am blood pt-17.4* ptt-35.6* inr(pt)-1.6*\n[**2150-4-21**] 05:00am blood glucose-84 urean-15 creat-1.0 na-132*\nk-4.4 cl-99 hco3-25 angap-12\n[**2150-4-21**] 05:00am blood alt-113* ast-210* alkphos-111\ntotbili-3.6*\n[**2150-4-21**] 05:00am blood calcium-8.1* phos-3.8 mg-1.7\n.\nother labs:\n[**2150-4-18**] 06:25am blood ck-mb-9 ctropnt-<0.01\n[**2150-4-17**] 06:41pm blood ck-mb-11* mb indx-4.9 ctropnt-<0.01\n[**2150-4-17**] 01:30pm blood lipase-85*\n.\nurine:\n[**2150-4-17**] 11:01pm urine color-yellow appear-clear sp [**last name (un) **]-1.016\n[**2150-4-17**] 11:01pm urine blood-lg nitrite-neg protein-neg\nglucose-neg ketone-neg bilirub-neg urobiln-2* ph-5.5 leuks-neg\n[**2150-4-17**] 11:01pm urine rbc-63* wbc-7* bacteri-none yeast-none\nepi-<1\n.\nmicrobiology:\nblood, urine cultures - negative\nh.pylori serum antibody - negative\n.\ncardiology:\n.\ntte ([**4-18**]):\nconclusions\nthe left atrium is dilated. left ventricular wall thicknesses\nand cavity size are normal. left ventricular systolic function\nis hyperdynamic (ef>75%). right ventricular chamber size and\nfree wall motion are normal. the aortic valve leaflets (3) are\nmildly thickened but aortic stenosis is not present. no aortic\nregurgitation is seen. the mitral valve leaflets are mildly\nthickened. mild (1+) mitral regurgitation is seen. there is\nmoderate pulmonary artery systolic hypertension. there is no\npericardial effusion.\nimpression: hyperdynamic lv systolic function. mild mitral\nregurgitation. moderate pulmonary artery systolic hypertension.\n\n.\nekg ([**4-17**]):\nsinus rhythm\nprolonged qt interval is nonspecific but clinical correlation is\nsuggested\nno previous tracing available for comparison\n  intervals axes\nrate pr qrs qt/qtc p qrs t\n70 160 96 462/479 70 55 52\n.\ngi:\negd ([**4-20**]):\n1. varices at the lower third of the esophagus and middle third\nof the esophagus.\n2. erythema and erosion in the antrum and pylorus compatible\nwith non-steroidal induced gastritis.\n3. bleeding from a pyloric ulcer in the pylorus compatible with\nnon-steroidal induced ulcer (injection, thermal therapy).\n4. normal mucosa in the duodenum.\n5. otherwise normal egd to third part of the duodenum\n.\nradiology:\n.\ncxr ([**4-17**]):\nthe prominent bulge to the right heart border could be due to\npericardial\neffusion, _____ cyst, and enlarged right atrium. there is no\nmediastinal\nvascular engorgement to suggest cardiac tamponade. pulmonary\nvasculature is normal. the lungs are clear and there is no\npleural effusion. overall heart size is normal. right jugular\nline ends at the junction of the\nbrachiocephalic veins. no pneumothorax or pleural effusion.\n.\nabd u/s ([**4-17**]):\nimpression:\n1. no son[**name (ni) 493**] evidence for portal venous thrombosis. portal\nvein flow is hepatopetal and wall-to-wall.\n2. no significant ascites. a sliver of perihepatic ascites.\n3. persistent coarsened echotexture of the liver consistent with\nknown\nhistory of cirrhosis.\n4. splenomegaly\n\nbrief hospital course:\nmr [**known lastname 52368**] is a 59m w hcv cirrhosis w grade ii esophageal varices\nadmitted w coffee-ground emesis and melena concerning for ugib,\ns/p micu stay for hypotension.\n.\n# ugib: pt did not have any more bleeds while in hospital. egd\nrevealed erythema and erosion in the antrum and pylorus\ncompatible with non-steroidal induced gastritis. pt did remember\ntaking increased doses of naproxen for backache. started on\npantoprazole 40mg po bid for one week with repeat endoscopy\nscheduled in one week ([**4-30**]). recommended to take tylenol (max\ndaily dose of 2gm) for pain instead of nsaids. blood pressure\nmeds were held at first, given micu admission for hypotension,\nbut were restarted on discharge.\n.\n# hcv cirrhosis: appears to be progressing to liver failure,\nwith elevated inr at 1.6, decreased albumin at 2.6, tbili\nslightly elevated at 3.6, and chronic le edema. pt was continued\non prophylactic medications.\n.\n# full code\n\nmedications on admission:\nfurosemide 20mg daily\nlisinopril 10 mg daily\nspironolactone 100 mg daily\n\ndischarge medications:\n1. phenol 1.4 % aerosol, spray sig: one (1) spray mucous\nmembrane prn (as needed).\n2. lactulose 10 gram/15 ml syrup sig: thirty (30) ml po tid (3\ntimes a day).\n3. thiamine hcl 100 mg tablet sig: one (1) tablet po daily\n(daily).\n4. folic acid 1 mg tablet sig: one (1) tablet po daily (daily).\n\n5. spironolactone 100 mg tablet sig: one (1) tablet po daily\n(daily).\n6. furosemide 40 mg tablet sig: one (1) tablet po once a day.\n7. acetaminophen 325 mg tablet sig: 1-2 tablets po every [**6-15**]\nhours as needed: no more than 6 tablets of regular strength\ntylenol per day.\n8. terbinafine 1 % cream sig: one (1) appl topical [**hospital1 **] (2 times\na day) for 1 weeks.\ndisp:*qs * refills:*0*\n9. nadolol 20 mg tablet sig: one (1) tablet po daily (daily).\n10. pantoprazole 40 mg tablet, delayed release (e.c.) sig: one\n(1) tablet, delayed release (e.c.) po twice a day for 1 weeks:\nthen take 1 tablet daily.\ndisp:*60 tablet, delayed release (e.c.)(s)* refills:*2*\n11. camphor-menthol 0.5-0.5 % lotion sig: one (1) appl topical\nqid (4 times a day) as needed for itching.\ndisp:*qs * refills:*0*\n12. lisinopril 10 mg tablet sig: one (1) tablet po once a day.\n\n\ndischarge disposition:\nhome\n\ndischarge diagnosis:\npeptic ulcer\ngi bleed\n\ndischarge condition:\nasymptomatic\n\ndischarge instructions:\nyou were admitted for bleeding from an ulcer in your stomach.\nthis ulcer is at least partially caused by naproxen.  you should\nstop taking naproxen and take only tylenol for pain.  you should\nnot take any nsaids for pain including ibuprofen, naproxen,\naleve, motrin, aspirin, toradol, or advil. it is okay to take\ntylenol but do not take more than 4 extra strength tylenol a day\n(2gram daily maximum).\n.\nthe following medication changes were made:\ndo not take naproxen\ntake pantoprazole 40 mg twice daily for one week.  then take 40\nmg daily.\n.\nyou are scheduled to get a repeat endoscopy next week.  prior to\nthe procedure do not have anything to drink or eat after\nmidnight.\n.\nplease return to the er if you have any chest pain,\nlightheadeness, fever, chills, bloody or black stools or any\nother concerning symptoms.\n\nfollowup instructions:\nprovider: [**name10 (nameis) **] [**apartment address(1) **] (st-3) gi rooms date/time:[**2150-4-30**] 1:30\nprovider: [**first name11 (name pattern1) **] [**last name (namepattern1) 7290**], md phone:[**telephone/fax (1) 463**] date/time:[**2150-4-30**]\n1:30\nprovider: [**name10 (nameis) **] [**last name (namepattern4) 2424**], md phone:[**telephone/fax (1) 2422**]\ndate/time:[**2150-5-7**] 11:00\n\n\n\ncompleted by:[**2150-4-24**]'

In [25]:
df

    HADM_ID                                               TEXT LABLE
0    100003  Admission Date:  [**2150-4-17**]              ...   285
1    100009  Admission Date:  [**2162-5-16**]              ...   285
2    100011  Admission Date:  [**2177-8-29**]              ...   285
3    100021  Admission Date:  [**2109-8-17**]              ...   281
4    100030  Admission Date:  [**2199-12-3**]       Dischar...   285
..      ...                                                ...   ...
95   100612  Admission Date:  [**2191-1-27**]              ...   285
96   100622  Admission Date:  [**2189-2-26**]              ...   285
97   100636  Admission Date:  [**2189-1-17**]              ...   285
98   100638  Admission Date:  [**2158-3-31**]              ...   285
99   100653  Admission Date:  [**2157-7-29**]              ...   285

[100 rows x 3 columns]

In [30]:
def cleanpunc(sentence):
    cleaned = sentence.lower()
    cleaned = cleaned.strip()
    cleaned = cleaned.replace("\n", " ")
    return cleaned

In [31]:
df['Sample'] = df['TEXT'].apply(cleanpunc)

In [32]:
df

,HADM_ID,TEXT,LABLE,Sample
0,100003,Admission Date: [**2150-4-17**] ...,285,admission date: [**2150-4-17**] ...
1,100009,Admission Date: [**2162-5-16**] ...,285,admission date: [**2162-5-16**] ...
2,100011,Admission Date: [**2177-8-29**] ...,285,admission date: [**2177-8-29**] ...
3,100021,Admission Date: [**2109-8-17**] ...,281,admission date: [**2109-8-17**] ...
4,100030,Admission Date: [**2199-12-3**] Dischar...,285,admission date: [**2199-12-3**] dischar...
...,...,...,...,...
95,100612,Admission Date: [**2191-1-27**] ...,285,admission date: [**2191-1-27**] ...
96,100622,Admission Date: [**2189-2-26**] ...,285,admission date: [**2189-2-26**] ...
97,100636,Admission Date: [**2189-1-17**] ...,285,admission date: [**2189-1-17**] ...
98,100638,Admission Date: [**2158-3-31**] ...,285,admission date: [**2158-3-31**] ...
99,100653,Admission Date: [**2157-7-29**] ...,285,admission date: [**2157-7-29**] ...

In [ ]:
def entitesbio(row):
    x = str(row['TEXT'])
    doc = bio(x)
    entities = []
    for ent in doc.ents:
      entities.append((ent, ent.label_))      
    return entities

In [34]:
for i in range(12, 0, -2):
    print(i)

12
10
8
6
4
2

In [60]:
text = 'hello there'

def encrypt(message, key):
    encrypted_msg = '' #r,o
    for char in message: #h , e
        shifted = ord(char) + key #s = 114, 111
        encrypted_msg += chr(shifted) #logic chr(114)
    return encrypted_msg

encrypt(text, 10)

'rovvy*~ro|o'

In [68]:
ord('h')

104

In [69]:
encrypted_msg = 'rovvy*~ro|o'

def decrypt(message, key):
    decrypt_msg = ''

    for char in message: #h , e
        shifted = ord(char) - key * 10 #s = 114, 111
        decrypt_msg += chr(shifted) #logic chr(114)

    return decrypt_msg

In [70]:
decrypt(encrypted_msg, 10)

'hello there'

In [2]:
import http.server 
import socketserver

In [3]:
from http.server import SimpleHTTPRequestHandler


port = 8000

Handler = http.server.SimpleHTTPRequestHandler

with socketserver.TCPServer(("", port), Handler) as ht:
    print('port open: ', port)
    ht.serve_forever()

port open:  8000

127.0.0.1 - - [03/Apr/2024 10:45:53] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [03/Apr/2024 10:45:53] code 404, message File not found
127.0.0.1 - - [03/Apr/2024 10:45:53] "GET /favicon.ico HTTP/1.1" 404 -
138.80.92.221 - - [03/Apr/2024 10:47:06] "GET / HTTP/1.1" 200 -
138.80.92.221 - - [03/Apr/2024 10:47:06] code 404, message File not found
138.80.92.221 - - [03/Apr/2024 10:47:06] "GET /favicon.ico HTTP/1.1" 404 -
138.80.92.221 - - [03/Apr/2024 10:47:06] code 400, message Bad request version ('Ák(í\\x17UñUKà´C\\x18\\x887GFJ\\x06\\x96æïåÃ·ôMÂE\\x06\\x95O\\x00\\x1b\\x00\\x03\\x02\\x00\\x02\\x00')
138.80.92.221 - - [03/Apr/2024 10:47:06] "\x16\x03\x01\x02\x1a\x01\x00\x02\x16\x03\x03\x8dí\x1a-\x97Iê¥¡&\x9a¡h\x063á¸YS0y\x19Wµ«£\x18(âÅW< M¢[áoä\x88Gãzß\x92Ä¨`?1í\x1cEH\x17nc¸\x0fw\x02b r \x00 **\x13\x01\x13\x02\x13\x03À+À/À,À0Ì©Ì¨À\x13À\x14\x00\x9c\x00\x9d\x00/\x005\x01\x00\x01­ÚÚ\x00\x00\x00\x0d\x00\x12\x00\x10\x04\x03\x08\x04\x04\x01\x05\x03\x08\x05\x05\x01\x08\x06\x06\x01\x003\x00+\x00)\x9a\x9a\x00\x01\x00\x00\x1d\x00 Ák(í\x17UñUKà´C\x18\x887GFJ\x06\x96æïåÃ·ôMÂE\x06\x95O\x00\x1b\x00\x03\x02\x00\x02\x00" 400 -
138.80.92.221 - - [03/Apr/2024 10:47:06] code 400, message Bad request version ('ÚÚ\\x13\\x01\\x13\\x02\\x13\\x03À+À/À,À0Ì©Ì¨À\\x13À\\x14\\x00\\x9c\\x00\\x9d\\x00/\\x005\\x01\\x00\\x01\\x93')
138.80.92.221 - - [03/Apr/2024 10:47:06] "\x16\x03\x01\x02\x00\x01\x00\x01ü\x03\x03l|pz6sùûÙGºÌnøðØ\x1e4\x005\x87^Ú\x9f¿û|¯õ3©\x15 ü\x14\x92$ü\x8bÝ\x0f(ó\x9a(MÄ.D\x1c!E\x7fXg$2¾|&\x0c\x06Å N\x00 ÚÚ\x13\x01\x13\x02\x13\x03À+À/À,À0Ì©Ì¨À\x13À\x14\x00\x9c\x00\x9d\x00/\x005\x01\x00\x01\x93" 400 -

KeyboardInterrupt:

In [ ]:
#how to submit the assignment 

#1. only submit the .py or .ipynb file. (all answers (code & explanations) 
                                     #should be there)
#2. the output files (txt files, image file) and the program files should be 
#   zipped

In [ ]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("pucpr/biobertpt-all")